body {
  margin: 0;
  background-color: white;
  font-family: 'Monaco', monospace;
}

h3 {
    font-size: 26px;
}

header {
  padding: 15px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  font-size: 20px;
  height: 50px;

}
.menu {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

ul {
  color: #900C3F;
}

a {
   color: #900C3F;
}

header li {
  display: inline-block;
  padding: 0px 5px;
}

.logo{
    height: 68px;
    justify-content: flex-start;
}

.icons {
    display: none;
    border-radius: 10px;
    position:absolute;
    right:16px;
    top:16px;
}

#dropDown {
  display: none;
  width: 100%;
  font-size: 20px;
}

#dropDown ul {
  width: 100%;
  margin:0;
  padding: 0;
  list-style-type:none;
  position: absolute;
  z-index: 9;
  background-color: #FFFFFF;
  font-size: 20px;
}

#dropDown li {
  margin:0;
  padding: 15px;
  display: flex;
  justify-content: center;

}

#dropDown a {
   color: #900C3F;
   text-decoration: none;
}

#toggle {
  cursor: pointer;
}




.content {
    padding: 16px;
    position: relative;
}

.infoCard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  background-color: #F1E1E7;
  color: #900C3F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: left;
}


button {
  padding: 15px;
  background-color: #900C3F;
  color: #F1E1E7;
  font-size: 20px;
  border-radius: 10px;
  font-family: 'Monaco', monospace;
}

.resumeButton {
  display: flex;
  justify-content: center;
}

.projectsButton {


}

.allProjectsButton {
    display: flex;
    justify-content: center;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}


.allProjectsButton button {
    width:100%;
}


.sectionHeader {
    color: #480620;
    text-align: center;
}

/*specifics for each cards*/
#secondhandHounds {
    grid-area: secondhandHounds;
}

#locationUI {
    grid-area: locationUI;
}

#FCC {
    grid-area: FCC;
}



/*apply to all cards*/
.projectCard {
    background-color: #F1E1E7;
    color: #900C3F;
    border-radius: 10px;
    font-size: 20px;
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image{
  max-width: 350px;
  margin: 0 auto;
  display: block;
   /* style="width:300px;height:300px;"  in case we need from example */
}

/* The flip card container - set the width and height to whatever you want.
We have added the border property to demonstrate that the flip itself goes out
of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #F1E1E7;
  color: #900C3F;
}

/* Style the back side */
.flip-card-back {
  background-color: #900C3F;
  color: #F1E1E7;
  transform: rotateY(180deg);
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.flip-card-back p{
    margin: 16px;
}


.projectButton {
    flex-direction: center;
    margin: 16px;
}

.projectText{
    display: flex;
    color: #900C3F;

    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}


/* My Work Section */
.myWork {
  padding-top: 0;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;

}
.workGrid {
  display: grid;
  /*grid-row-gap: 18px;*/
  justify-content: center;
  align-content: center;
  gap: 20px 0px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 400px 400px;
  grid-template-areas:
  "SHHImg SHHText"
  "locImg locText"
  "FCCImg FCCText"
  ;
}
.workGrid img {
  width: 75%;
  margin: 0 auto;
  display: block;
}
.SHHImg {
  grid-area: SHHImg;

}
.locImg {
  grid-area: locImg;
}
.FCCImg {
  grid-area: FCCImg;
}
.SHHImg, .locImg, .FCCImg{
  padding: 50px;
  background-color: #F1E1E7;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}
#SHHText, #locText, #FCCText {
  padding: 50px;
  background-color: #F1E1E7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}



#SHHText {
  grid-area: SHHText;

}
#locText {
  grid-area: locText;
}
#FCCText {
  grid-area: FCCText;
}



/*nav bar animations */
.active {
  text-decoration: underline;
}

.activeDropDown {
    display: block;
}

.disabledDropDown {
    display: none;
}

.tab {
  cursor: pointer;
}

. workTab {

}

.aboutTab{
}

.contactTab{

}

.resumeTab{
}

.linkedTab {

}






footer {
  background-color: white;
  padding: 5px;
  color: #900C3F;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}



/* Media Queries */
@media only screen and (min-width: 1440px) {
    .workGrid {
    display: grid;
    /*grid-row-gap: 18px;*/
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas:
    "SHHImg SHHText"
    "locImg locText"
    "FCCImg FCCText"
   }


}

@media only screen and (max-width: 1090px) {
   .menu{
        display: none;
   }

   .icons {
        display: flex;
   }
}

@media only screen and (max-width: 900px) {
    .workGrid {
        background-color: white;
        display: grid;
        margin: 16px;
        gap: 0px;
        grid-template-rows: 400px 320px 400px 290px 400px 360px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "SHHImg"
            "SHHText"
            "locImg"
            "locText"
            "FCCImg"
            "FCCText";
   }

    .workGrid img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

   .SHHImg, .locImg, .FCCImg{
     padding: 50px;
     background-color: #F1E1E7;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;

   }
   #SHHText, #locText, #FCCText {
     padding: 50px;
     background-color: #F1E1E7;
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     margin-bottom: 16px;

   }

   .allProjectsButton {
        margin: 16px;
   }

}

